
<nav>
    <% if (user) { %>
        <a href="/">Home</a>
        <a href="/activities/profile">Profile</a>
        <a href="/activities">View Activities</a>
        <a href="/activities/summary">Analytics</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </nav>