<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Agenda Hub</title>
</head>
<body class="index-body">
    <%- include('./partials/_navbar.ejs') %>
    <div class="hero-section">
        <% if (user) { %>
            <h1>Stay on top of your priorities, <%= user.username %>!</h1>
        <% } else { %>
            <h2>Welcome to Your Agenda</h2>
            <h3>Your roadmap to productivity!</h3>
            <div class="features">
                <div class="feature">
                    <h4>Today’s Tasks</h4>
                    <p>Master your to-do list!</p>
                </div>
                <div class="feature">
                    <h4>Goal Tracker</h4>
                    <p>Celebrate your progress!</p>
                </div>
                <div class="feature">
                    <h4>Upcoming Events</h4>
                    <p>Don’t miss out on what’s next.</p>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>
